body{
    background: linear-gradient(lime, cyan);
}
.title{
    text-align: center;
    font-size: 50px;
    color: cornflowerblue;
}
.Download{
    color: blueviolet;
    text-align: center;
    font-size: 30px;
}